In [11]:
import pandas as pd
import numpy as np
import re, string
from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [2]:
train_df = pd.read_csv('data/train.csv', dtype={"keyword": str, "location":str})
test_df = pd.read_csv('data/test.csv', dtype={"keyword": str, "location":str})

In [3]:
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [4]:
train_df.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [5]:
df = pd.concat([train_df, test_df])

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [7]:
def remove_URL(text):
    url = re.compile(r'https?://\S+|www\.\S+')
    return url.sub(r'',text)

def remove_html(text):
    html=re.compile(r'<.*?>')
    return html.sub(r'',text)

# Reference : https://gist.github.com/slowkow/7a7f61f495e3dbb7e3d767f97bd7304b
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

def remove_punct(text):
    table=str.maketrans('','',string.punctuation)
    return text.translate(table)

In [12]:
df['text']=df['text'].apply(lambda x : remove_URL(x))
df['text']=df['text'].apply(lambda x : remove_html(x))
df['text']=df['text'].apply(lambda x: remove_emoji(x))
df['text']=df['text'].apply(lambda x : remove_punct(x))

In [13]:
df

,id,keyword,location,target,text
0,1,NaN,NaN,1.0,Our Deeds are the Reason of this earthquake Ma...
1,4,NaN,NaN,1.0,Forest fire near La Ronge Sask Canada
2,5,NaN,NaN,1.0,All residents asked to shelter in place are be...
3,6,NaN,NaN,1.0,13000 people receive wildfires evacuation orde...
4,7,NaN,NaN,1.0,Just got sent this photo from Ruby Alaska as s...
5,8,NaN,NaN,1.0,RockyFire Update California Hwy 20 closed in ...
6,10,NaN,NaN,1.0,flood disaster Heavy rain causes flash floodin...
7,13,NaN,NaN,1.0,Im on top of the hill and I can see a fire in ...
8,14,NaN,NaN,1.0,Theres an emergency evacuation happening now i...
9,15,NaN,NaN,1.0,Im afraid that the tornado is coming to our area
10,16,NaN,NaN,1.0,Three people died from the heat wave so far
11,17,NaN,NaN,1.0,Haha South Tampa is getting flooded hah WAIT A...
12,18,NaN,NaN,1.0,raining flooding Florida TampaBay Tampa 18 or ...
13,19,NaN,NaN,1.0,Flood in Bago Myanmar We arrived Bago
14,20,NaN,NaN,1.0,Damage to school bus on 80 in multi car crash ...
15,23,NaN,NaN,0.0,Whats up man
16,24,NaN,NaN,0.0,I love fruits
17,25,NaN,NaN,0.0,Summer is lovely
18,26,NaN,NaN,0.0,My car is so fast
19,28,NaN,NaN,0.0,What a goooooooaaaaaal
20,31,NaN,NaN,0.0,this is ridiculous
21,32,NaN,NaN,0.0,London is cool
22,33,NaN,NaN,0.0,Love skiing
23,34,NaN,NaN,0.0,What a wonderful day
24,36,NaN,NaN,0.0,LOOOOOOL
25,37,NaN,NaN,0.0,No wayI cant eat that shit
26,38,NaN,NaN,0.0,Was in NYC last week
27,39,NaN,NaN,0.0,Love my girlfriend
28,40,NaN,NaN,0.0,Cooool
29,41,NaN,NaN,0.0,Do you like pasta
...,...,...,...,...,...
3233,10756,wreckage,Mumbai,NaN,Wreckage Conclusively Confirmed as From MH370 ...
3234,10757,wreckage,NaN,NaN,science Now that a piece of wreckage from flig...
3235,10758,wreckage,India,NaN,Wreckage Conclusively Confirmed as From MH370 ...
3236,10761,wreckage,Mumbai,NaN,Wreckage Conclusively Confirmed as From MH370 ...
3237,10762,wreckage,Canada,NaN,TOP STORY wreckage from MH370 officially confi...
3238,10773,wreckage,NaN,NaN,Wreckage Conclusively Confirmed as From MH370 ...
3239,10778,wreckage,Mumbai,NaN,Wreckage Conclusively Confirmed as From MH370 ...
3240,10781,wreckage,our galaxy,NaN,RT australian Debris found on an Indian Ocean ...
3241,10791,wrecked,Sunny Southern California,NaN,Cramer Igers 3 words that wrecked Disneys stock
3242,10792,wrecked,"Plymouth, England",NaN,Almost wrecked my van the other day because of...
3243,10796,wrecked,Deep in the heart of LibLand,NaN,What manner of human being would parcel out a ...
3244,10797,wrecked,NaN,NaN,Nathan26RFC thought you said Saturday night th...
3245,10801,wrecked,"Canada,Ontario",NaN,I just wanna ease your mind and make you feel ...
3246,10804,wrecked,Love Reiss,NaN,yakubOObs think he deactivated because his not...
3247,10806,wrecked,Seattle Washington,NaN,RT CNBC 3 words from Disney CEO Bob Iger wreck...
3248,10807,wrecked,Acey mountain islanddåÇTorontoåÈ,NaN,Smackdown tyme this should put me in a good mo...
3249,10816,wrecked,los angeles,NaN,thrillhho jsyk I havent stopped thinking abt r...
3250,10820,wrecked,"Brussels, Belgium",NaN,stighefootball Begovic has been garbage He got...
3251,10828,wrecked,NaN,NaN,Wrecked today got my hattrick
3252,10836,NaN,NaN,NaN,Ebola EbolaOutbreak Ebola Virus Birmingham Ala...
3253,10838,NaN,NaN,NaN,Malaysian PM confirms debris is from missing f...
3254,10845,NaN,NaN,NaN,Officials Alabama home quarantined over possib...
3255,10856,NaN,NaN,NaN,See the 16yr old PKK suicide bomber who detona...
3256,10857,NaN,NaN,NaN,To conference attendees The blue line from the...
3257,10858,NaN,NaN,NaN,The death toll in a ISsuicide car bombing on a...
3258,10861,NaN,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,NaN,Storm in RI worse than last hurricane My citya...
3260,10868,NaN,NaN,NaN,Green Line derailment in Chicago
3261,10874,NaN,NaN,NaN,MEG issues Hazardous Weather Outlook HWO
3262,10875,NaN,NaN,NaN,CityofCalgary has activated its Municipal Emer...

In [14]:
len(train_df) + len(test_df)

7613